.App {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-height: 95vh;
  width: 100%;
}

body {
  /* background: linear-gradient(white, grey); */
  background: #2d2d37;
}

html {
  scroll-behavior: smooth;
}
